#article_EP {
    height: 100%;
    padding: 20px;
    justify-content: space-between;
    background-color: whitesmoke;
}

#div_EP_display_headerImage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#img_EP_display_headerImg {
    width: 700px;
    height: 350px;
    min-height: 350px;
    object-fit: contain;
    background-color: black;
    border-radius: 8px;
}

#input_EP_save {
    background-color: #F44336;
    margin-right: 30px;
}

#form_EP_personality_traits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#div_EP_personality_gridBackground {
    max-width: min-content;
    min-width: 450px;
    max-height: 500px;
    min-height: 500px;
    padding: 15px;
    border-radius: 8px;
    background-color: whitesmoke;
}

#div_EP_personality_masonryGrid {
    min-width: min-content;
    max-width: 800px;
    max-height: min-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    grid-gap: 5px;
}

#div_EP_trulyMe_otherContainer {
    width: 90%;
    height: max-content;
    border: 4px;
    background-color: whitesmoke;
}

#div_EP_yourMatch_attachmentInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input_EP_yourMatch_attachment {
    width: fit-content;
    margin-right: 5%;
}


/* classes */

.EPItems {
    background-color: white;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-color: black;
    -webkit-box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.ListItemPadding {
    width: 100%;
    padding-bottom: 50px;
    text-align: left;
    justify-content: left;
}