body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "magiera";
    font-size: xx-large;
    color: #F44336;
}

h2 {
    font-family: 'Volkorn';
    font-size: x-large;
    color: #ef9a9a;
}

form {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    font-family: "Volkorn";
}

input {
    margin-bottom: 10px;
    outline: 0;
    box-shadow: none;
    border: 1.5 solid #F44336;
    border-radius: 4px;
    height: 30px;
    color: black;
}

/* bootstrap */

.btn {
    background-color: #F44336;
    color: white;
}

.navbar {
    background-color: #ef9a9a;
    height: 65px;
}

.badge {
    background-color: #ef9a9a;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*custom classes */

.LiProfileTraits {
    border-radius: 25%;
    background-color: #F44336;
    color: white;
}


/* fonts */

@font-face {
    /* large heading font */
    font-family: 'magiera';
    src: url("/SyndeoWebsite/Res/Fonts/magiera_script.ttf");
}

@font-face {
    /* regular text font */
    font-family: 'Volkorn';
    src: url("/SyndeoWebsite/Res/Fonts/vollkorn-font/VollkornBlack.ttf");
}