body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "magiera";
    color: #F44336;
}

h2 {
    font-family: 'Volkorn';
    color: #ef9a9a;
}

h3 {
    font-family: 'Volkorn';
}

h4 {
    font-family: 'Volkorn';
}

h5 {
    font-family: 'Volkorn';
}

form {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    font-family: "Volkorn";
}

input {
    margin-bottom: 10px;
    outline: 0;
    box-shadow: none;
    border: 1.5 solid #F44336;
    border-radius: 4px;
    height: 30px;
    color: black;
}

/* bootstrap */

.btn {
    background-color: #F44336;
    color: white;
}

.navbar {
    background-color: #ef9a9a;
    height: 65px;
    -webkit-box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.badge {
    background-color: #ef9a9a;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*custom classes */

.LiProfileTraits {
    border-radius: 25%;
    background-color: #F44336;
    color: white;
}

.ImgWithOptions {
    display: flex;
    flex-direction: row;
}

.ImgOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
}

.BtnImgOptions {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    background-color: #ef9a9a;
    color: white;
}

.PFP {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

/* custom image input button classes */
.DivAddImg {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0px;
    overflow: hidden;
    color: white;
}

.LinkAddImg {
    color: white;
    text-decoration: none;
}

.BtnAddImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background-color: #ef9a9a;
    color: white;
}

.InputAddImg {
    font-size: 50px;
    width: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    background-color: white;
    top: -40px;
    left: -20px;
}


/* fonts */

@font-face {
    /* large heading font */
    font-family: 'magiera';
    src: url("/SyndeoWebsite/Res/Fonts/magiera_script.ttf");
}

@font-face {
    /* regular text font */
    font-family: 'Volkorn';
    src: url("/SyndeoWebsite/Res/Fonts/vollkorn-font/VollkornBlack.ttf");
}