#header_profile {
    position: absolute;
    width: 100%;
    height: 125px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFF9C4;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#article_profile {
    align-items: center;
    background-color: whitesmoke;
}

#img_profile_display {
    width: 100%;
    height: 650px;
    min-height: 650px;
    object-fit: contain;
    background-color: black;
}

.ProfileSection {
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
}

#section_profile_mainInfo {
    width: 97%;
    max-height: 200px;
    min-height: 200px;
    max-width: 97%;
}

#p_profile_bio {
    width: 100%;
    height: 50%;
    min-height: 50%;
    max-height: 50%;
    background-color: black;
}

#div_profile_lookingFor {
    width: 100%;
    height: 50%;
    min-height: 50%;
    max-height: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#img_profile_pfp {
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1.5px;
    border-color: black;
    -webkit-box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#div_profile_identity {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items:center;
}

#h2_profile_realName {
    margin-left: 5px;
}

#b_profile_identity {
    border-radius: 8px;
    color: white;
    margin-left: 15px;
    background-color: #F44336;
}

#h3_profile_lookingFor {
    margin-top: 15px;
}

#section_profile_more {
    width: 100%;
    min-width: 97%;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#div_profile_subSection {
    width: 100%;
    height: 600px;
    max-height: 660px;
    min-width: 47%;
    min-height: 450px;
    justify-content:start;
    align-items: center;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.ProfileAboutMeItems {
    width: 100%;
    height: 40%;
    max-height: 40%;
    min-height: 40%;
    justify-content: space-evenly;
    padding: 10px;
}

.RoundedIconButton {
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    margin: 10px;
}